body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    background: #f1f1f1;
    color: #0f141e;
    margin: 0;
}

h3 {
    text-align: center;
}

.list {
    padding: 0 20px;
    list-style-type: none;
}

.list li {
    margin-bottom: 8px;
    color: #86898f
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}

a:visited {
    color: darkblue;
}